<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión - CBTis 272</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <form class="formulario" action="/iniciar_sesion" method="POST">
        <h2>Iniciar sesión CBTis 272</h2>

        <label>CURP:</label>
        <input type="text" name="curp" required>

        <label>Correo electrónico:</label>
        <input type="email" name="email" required>

        <input type="submit" value="Iniciar sesión">
        <a href="/registro">¿Aún no tienes cuenta? Regístrate</a>
    </form>
</body>
</html>
