{% extends "base.html" %}

{% block titulo %}Registro - CBTis 272{% endblock %}

{% block contenido %}
    <h2>Formulario de Registro</h2>
    <form action="/registrar" method="POST">
        <input type="text" name="apellido_paterno" placeholder="Apellido paterno" required><br>
        <input type="text" name="apellido_materno" placeholder="Apellido materno" required><br>
        <input type="text" name="nombres" placeholder="Nombres" required><br>
        <input type="text" name="periodo" placeholder="Periodo" required><br>
        <input type="text" name="semestre" placeholder="Semestre" required><br>
        <input type="text" name="turno" placeholder="Turno" required><br>
        <input type="text" name="carrera" placeholder="Carrera" required><br>
        <input type="text" name="curp" placeholder="CURP" required><br>
        <input type="date" name="fecha_nacimiento" required><br>
        <input type="text" name="lugar_nacimiento" placeholder="Lugar de nacimiento" required><br>
        <input type="text" name="estado_civil" placeholder="Estado civil" required><br>
        <input type="text" name="colonia" placeholder="Colonia" required><br>
        <input type="text" name="domicilio" placeholder="Domicilio" required><br>
        <input type="text" name="cp" placeholder="Código Postal" required><br>
        <input type="tel" name="telefono" placeholder="Teléfono" required><br>
        <input type="email" name="email" placeholder="Correo electrónico" required><br>
        <input type="text" name="tipo_sangre" placeholder="Tipo de sangre" required><br>
        <input type="text" name="alergias" placeholder="Alergias"><br><br>
        <input type="submit" value="Registrarse">
    </form>
{% endblock %}
